<div class="container">

	<% if user_signed_in? %>
		<p><%= link_to "Create Project", new_project_path %></p>
		<% @projects = Project.where(:user_id => current_user) %>
	<% else %>
	<% end %>


	<div class="row">
		<%= @projects.each do |project| %>
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <%= image_tag project.image.url %>
			      <div class="caption">
			        <h2><%= link_to project.title, project_path(project) %></h2>
			        <p><%= project.body %></p>
			        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      </div>
			    </div>
			  </div>
		<% end %>
	</div>


</div>


