<div class="container">

	<% if user_signed_in? %>
		<button type="button" class="btn btn-default">
		<%= link_to "Create Project", new_project_path %>
		</button>
		<p></p>
		<% @projects = Project.where(:user_id => current_user) %>
	<% else %>
	<% end %>


	<div class="row">
		<%= @projects.each do |project| %>
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail" style="min-height:400px;height:400px;">
			      <%= image_tag project.image.url %>
			      <div class="caption">
			        <h2><%= link_to project.title, project_path(project) %></h2>
			        <p><%= project.body %></p>
			      </div>
			    </div>
			  </div>
		<% end %>
	</div>


</div>


