<div class="container">
	<h2><%= @project.title %></h2>
		<%= image_tag @project.image.url %>
		<h3><%= @project.body %></h3>
		<h3><%= link_to @project.url %></h3>

		<p> Project created at <%= time_ago_in_words @project.created_at %> ago</p>

		<% if user_signed_in? %>
			<%= link_to "Create Post", new_post_path(:project_id => @project) %>
		<% else %>
		<% end %>

		<p></p>

		<% @project.posts.each do |post| %>
			<div class="panel panel-default">
		  		<div class="panel-heading"><%= link_to post.title, post_path(post) %></div>
		  			<div class="panel-body">

		  				<% if post.image? %>
							<%= image_tag post.image.url %>
						<% else %>
						<% end %>
						<p><%= post.body %></p>
						<p><%= post.url %></p>
		  			</div>
		  			<div class="panel-footer">
		  				<% @time_ago = time_ago_in_words post.created_at %>
						<%= link_to @time_ago, post_path(post) %>
						Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')%>
		  			</div>
					</div>
				</div>
			</div>
		<% end %>

</div> <!-- /container -->

		
	