<div class="jumbotron">
      <div class="container">
      	<div class="row">
  			<div class="col-md-8">
  				<h1><%= @project.title %></h1>
        		<p><%= @project.body %></p>
        	</div>
			<div class="col-md-4">
				<%= image_tag(@project.image.url, :class => "img-responsive center-block") %>
			</div>
        </div>
      </div>
</div>

<div class="container">

	<%= link_to "Edit", edit_project_path(@project) %>
	<%= link_to "Delete", project_path(@project), method: :delete %>

		<% if user_signed_in? %>
			<%= link_to "Create Post", new_post_path(:project_id => @project) %>
		<% else %>
		<% end %>

		<p></p>
		
		<% @project.posts.each do |post| %>
			<div class="panel panel-default">
				<% if post.title? %>
		  			<div class="panel-heading">
		  				<h3 class="panel-title"><%= link_to post.title, post_path(post) %></h3>
		  			</div>
		  		<% else %>
				<% end %>
		  			<div class="panel-body">
		  				<% if post.image? %>
							<%= image_tag(post.image.url, :class => "img-responsive center-block") %>
						<% else %>
						<% end %>
						<p></p>
						<p><%= post.body %></p>
						<p><%= post.url %></p>
		  			</div>
			  			<div class="panel-footer" >
			  				<div class="row">
				  				<div class="col-md-10">
				  					<%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')%>
				  				</div>
				  				<div class="col-md-2" "text-right">
				  					<% @time_ago = time_ago_in_words post.created_at %>
									<%= link_to @time_ago, post_path(post) %>
				  				</div>
			  				</div>
			  			</div>
					
			</div>
		<% end %>

</div> <!-- /container -->

		
	