<div class="container-fluid">

	<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel" data-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag @project.image.url %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @project.title %></h1>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->


</div>
<div class="container">
		<% if user_signed_in? %>
			<%= link_to "Create Post", new_post_path(:project_id => @project) %>
		<% else %>
		<% end %>

		<p></p>

		<% @project.posts.each do |post| %>
			<div class="panel panel-default">
				<% if post.title? %>
		  			<div class="panel-heading">
		  				<h3 class="panel-title"><%= link_to post.title, post_path(post) %></h3>
		  			</div>
		  		<% else %>
				<% end %>
		  			<div class="panel-body">
		  				<% if post.image? %>
							<%= image_tag post.image.url %>
						<% else %>
						<% end %>
						<p><%= post.body %></p>
						<p><%= post.url %></p>
		  			</div>
			  			<div class="panel-footer" >
			  				<div class="row">
				  				<div class="col-md-10">
				  					<%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')%>
				  				</div>
				  				<div class="col-md-2" "text-right">
				  					<% @time_ago = time_ago_in_words post.created_at %>
									<%= link_to @time_ago, post_path(post) %>
				  				</div>
			  				</div>
			  			</div>
					
			</div>
		<% end %>

</div> <!-- /container -->

		
	