<h2><%= @subject.title %></h2>
	<%# image_tag @subject.image.url %>
	
	<%= link_to "Create Project", new_project_path(:subject_id => @subject) %>

	<% @subject.projects.each do |project| %>

		<h2><%= link_to project.title, project_path %></h2>

		<%= image_tag project.image.url %>

		<p><%= project.body %></p>

		<p><%= project.url %></p>

		<%= time_ago_in_words project.created_at %> ago

	<% end %>


	

	