<h2>New</h2>

<%= simple_form_for [@subject, @project, @post], url: subject_project_posts, method: :post do |f| %>

	<%= f.input :title %>
	<%= f.input :image %>
	<%= f.input :body %>
	<%= f.input :url %>

	<%= f.button :submit %>

<% end %>