<!DOCTYPE html>
<html>
<head>
  <title>Oppi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

	<%= link_to root_path do %>
      <%= image_tag "logo.png" %>
  <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= link_to "Projects", root_path %>
<%= link_to "Subjects", subjects_path %>

<%= yield %>

	<footer>
    	<p>&copy; <%= Date.today.year %> Oppi Ltd</p>
  	</footer>
</body>
</html>
