<!DOCTYPE html>
<html>
<head>
  <title>Oppi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

	<%= link_to root_path do %>
      <%= image_tag "logo.png" %>
  <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <% if user_signed_in? %>
    Logged on as <strong><%= current_user.first_name %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <%= link_to 'My projects', user_projects_path(current_user) %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>



<%= yield %>

	<footer>
    	<p>&copy; <%= Date.today.year %> Oppi Ltd</p>
  	</footer>
</body>
</html>
